Free-to-play games usher in an era of
"games as a service," requiring the need to guarantee
engaging, evolving gameplay and content, while at the same time
generating revenue over the life of the game.  We looked to understand
this space through iterative, boots-on-the-ground customer development.
