My passion for astronomy, community outreach and beautiful, hand-crafted
experiences combined themselves into a completely re-invented online
experience for
=link_to 'Seattle Astronomical Society.', 'http://seattleastro.org'
