With an ever-growing catalog of first- and third-party
sources, how do you blend together both search and browse into a single,
cohesive experience?  More so, how do you do so across a federated space
of different services, all while maintaining the flexability for real-time
changes, even when there are millions of simultaneous users?
