How do you replace the very analog and tactile experience
of   shopping for food   with a completely digital one?  Can you change
the
%i end-to-end experience
of one of the largest online retailers,
and in the process, make it feel more like your   best friend   dropped
off a few items from the store?
