%p
  As a part of an innovations lab within Azure, we were tasked with using
  =link_to 'hypothesis-driven customer development', 'http://steveblank.com/category/customer-development-manifesto/'
  to uncover new opportunities.  Our ideas did not necessarily need to be the next
  billion-dollar industry, but instead our goal was to reconnect with old and new
  customers alike, and genuinelly understand their problems first.  Then and only
  then were we to determine if we might be able to develop a solution to meet their needs.
%p
  I was on a two-person team with another engineer.  With a boots-on-the-ground
  approach, we began to explore the news industry, but
  quickly pivoted away when we determined that the issues confronting the industry
  were beyond our ability to address.  We shifted to mobile games and consequently
  talked to some 500 individuals in the game industry
  to better understand the problems and issues of free-to-play monetization
  schema.
%p
  We zeroed in on understanding how game developers approach
  engagement post-launch as the area of biggest pain.  In particular, how do game developers
  know if their game is engaging players or not?  Remmeber that there is no revenue at time of first
  play, unlike over-the-counter where revenue is generated upsteam.
  Free-to-play games must engage their players within minutes, and keep them engaged long enough for
  studios to see any revenue, especially since a player's life-time-value (LTV)
  is strongly correlated to length of engagement.
%p
  We acted like a scrappy startup, developing our own brand, logo and product website
  to measure market interest in our hypothesized value propositions.  We used this to feedback
  into our interview questions, continually refining as we went.  We even attend
  the industry's Game Developers Conference (GDC) wearing our own branded t-shirts (icognito to the
  fact we were with Microsoft) to conduct our own in-person interviews and surveys.
