%h1 Who Am I?

%p.lead
  Back in the early 2000s, I did a tour of duty at
  =link_to 'Boeing', company_path(:boeing)
  as a Japanese interpreter of kaizen and Toyota Production Systems.   When I returned to
  software engineering, I took my insights and applied them to the then
  emerging discipline of agile software.  At
  =link_to 'Boeing,', company_path(:boeing)
  I introduced scrum, test-driven development, and continuous integration to my division, and
  then actively evangelized it throughout the enterprise before leaving for
  =link_to 'Amazon.', company_path(:amazon)

%p.lead
  Since then, both as software engineer and product manager, I have
  — from the ground up — been both
  =link_to 'creating experiences', company_path(:xbox)
  and
  =link_to 'developing the teams and processes', company_path(:shs)
  that build them.

%p.lead
  I am looking for a team that wants,
  and a culture that supports, multi-dimensional contributors such as
  myself.

%h1 More

%p
  To learn more about the experiences that I have helped design and
  build, please
  %a{href: portfolio_path}
    take a look at my
    portfolio.
%p
  And if you want to learn more about my career and educational
  experiences, but with a bit less prose, please
  %a{href: link_to_linkedin} refer to my LinkedIn profile
  or even
  = succeed "." do
    %a{href: link_to_github}
      peruse my GitHub
      account
%p
  You can also check out
  %a{href: link_to_wardspics}
    my
    photography portfolio
  if you are interested in seeing how I spend some
  of my spare time.
