<div class="jumbotron">
  <img src="<%= asset_path('portrait.jpg') %>" class="portrait"/>
  <h2>Hi!  I am Ward.</h2>

  <p class="lead">I believe I will make a great addition to your
  team.</p>

  <p class="sublead">I am a bit of a technical mutt, as it were, with
  experiences spanning as an aerospace engineer, technical Japanese
  interpreter of lean practices, software engineer, and now as product
  manager.</p>

  <p class="sublead">I am life-long learner with three advanced degrees in
  engineering; I do not believe in being "a hammer looking for nails," but
  in learning to use the right tools for the job, whatever they may be.</p>

  <p class="sublead">At the heart of it all, I love to create things that
  make a difference.  I am not interested in technical challenges in and
  of themselves.  Such challenges simply offer a means to solve <i>human
  problems</i>.</p>

  <p class="lead">Interested in talking?  I know I am.</p>

  <p><a class="btn btn-lg btn-success"
  href="mailto:wwv@mac.com?subject=Let's&nbsp;Talk!&body=Hi&nbsp;Ward!&nbsp;We&nbsp;want&nbsp;to&nbsp;talk&nbsp;with&nbsp;you.&nbsp;:)"
  role="button">Let's Talk!</a></p>

</div>

<div class="row details">
  <div class="col-lg-6">
    <h3>More About Me</h3>

    <p>Starting in my early childhood &mdash; painted, as it was, by the
    phosphorescent glow of the television broadcasts of NASA Voyager's
    reaching Jupiter and beyond &mdash; I dreamt of orbital mechanics and
    exploring outer-space. After a detour (or three) to Japan, my
    aspirations of a PhD and of working at JPL were replaced with dreams
    of becoming a technical bridge between the US and Japan. It has been
    an interesting journey ever since.</p>

    <p>At the heart of the many transitions I have made over the years is
    a genuine desire to connect with people through technology, rather
    than to focus solely on technology. Technology matters, but only as
    long as it is helping solve real-world problems.  It is not about
    products or even solutions, it is about the <i>experience</i>.</p>

    <p class="pull-right"><a class="btn btn-sm btn-primary" role="Buton"
    href="aboutme.html">Read More</a></p>

  </div>

  <div class="col-lg-6">
    <h3>Portfolio</h3>

    <p>My passions are not just centered on the visual aesethic of an
    experience, but are holistic and encompass the entire user flow. I
    believe the real challenge is in taking a complex problem and boiling
    it down to the solution at its most basic and rarefied form: think
    simple, not simplistic.</p>

    <p>Similar to my passion to bring the best possible experience to my
    customers, I believe the same applies to the team making those
    experiences. It is   about creating processes and infrastructure that
    respect the people using them.  We only have so   much time in our
    day, we need to focus on bringing value to the things we create, not
    just moving around bits.</p>

    <p class="pull-right"><a class="btn btn-sm btn-primary" role="button"
    href="portfolio.html">Read More</a></p>

  </div>
</div>
