.amazon
  %a{name: "amazon"}
  %ul.tag
    %li{ role: :presentation} technical program manager
    %li{ role: :presentation} senior software engineer
  %h2 Food &amp; Totes @ Amazon
  %p.lead
    How do you replace the very analog and tactile experience
    of   shopping for food   with a completely digital one?  Can you change
    the
    %i end-to-end experience
    of one of the largest online retailers,
    and in the process, make it feel more like your   best friend   dropped
    off a few items from the store?
  %p
    At both
    %b AmazonFresh
    and
    %b AmazonTote
    our goal was to change
    the
    %i last-mile experience
    for our customers. Namely, we believed
    that the experience we provided our customers extended past the website,
    right up to the time their order arrived at their door. In this context,
    Design takes on multiple new dimensions and challenges that are not
    normally encountered with a purely digital experience.
  %p
    At
    = succeed "," do
      %b AmazonFresh
    we were challenged with any number of problems
    on a weekly basis.  From an experiential perspective,   we needed to go
    deep into customer psychology to understand how people approached shopping
    for food, something that is &mdash; for many &mdash; a very personal and
    subjective experience. How do you earn their trust when selecting and
    handling their produce on their behalf?  How do you convey to them package
    size in a way that is intuitive and immediately accessible when every item
    on your website has the same real-estate?  How do you design an experience
    that works equally well for shoppers who walk up and down every aisle to
    find what they need,  as well as for "spear-fisherman" shoppers who know
    exactly what they want?  How do you set expectations and predict inventory
    when much of your perishable goods may go bad?  How do you solve warehouse
    packing problems (for which I received two patents) in a way that both
    reduces warehouse walk-time and increases packing density? As a senior
    engineer on the team, I helped solve these and many other challenges from
    a continuously fed backlog of stories, with responsibilities covering every
    aspect from requirements gathering, to UX design, to test-driven
    development, and even operations.

  %p
    At
    = succeed "," do
      %b AmazonTote
    we again looked to redefine the last-mile
    experience, but this time for the entirety of Amazon.com.  I was in charge
    of a small team, composed of an engineer and a designer, along with an
    external design firm for graphic logo design.  I pulled double-duty;
    during the day I was its product manager, and at night its front-end
    developer.  Together we created &mdash; soup to nuts &mdash; an entirely
    new buying experience for which I am named in four patents.  We launched
    AmazonTote in under ten weeks, which included: 1) design and procurement of
    tote-bags from China; 2) setting up a fulfillment center; 3) complete
    design and implementation of a website experience; and 4) all logistics
    including delivery.

  %p
    Ultimately, we designed an
    %i end-to-end
    experience that utilized
    elements of 1-click, but expanded it to include a critical "your tote-bag"
    ordering page where you managed your upcoming delivery. Our primary goal
    was to create a delivery experience that felt more like a friend had
    dropped off a few items on their way back from the store, rather than
    echoing delivery through a national carrier. While the pilot program has
    since moved on to further stages of investigation, the results we
    collected around buying behavior and consumer loyalty to the program
    proved that we had nailed it experientially.

  =render partial: 'shared/carousel', locals: { carousel: 'AmazonTote', slides: @carousels['AmazonTote']}

  :javascript
    $('#portfolioCarouselAmazonTote').carousel({
        interval: 5000
    })
