.seattle_astro
  %a{name: "seattle_astro"}
  %ul.tag
    %li{ role: :presentation} webmaster
    %li{ role: :presentation} board member
    %li{ role: :presentation} volunteer
  %h2 Skies over Seattle @ SeattleAstro
  %p.lead
    =render partial: 'pages/lead/seattle_astro'
  %p
    I took over the society's website some three years ago. In that time, I
    worked with the Board to create a visual language, information architecture,
    and overall design for the entire site.  I am responsible for every aspect
    of the site, including a responsively-designed front-end that leverages
    Bootstrap, SASS, and Javascript.  There is extensive administrative features
    both for members to maintain their own information, along with roles-based
    permissions for Board members and site moderators.  The site also integrates
    with Mandrill for all transactional emails, and provides a complete end-to-end
    integration with PayPal to obviate the need for manual processing of checks or
    cash, although these payment means are still available to members.
  %p
    Since
    introducing the website, we have seen membership increase year-over-year, much of
    it attributal to a more welcoming online presence that helps drive a sense of
    community amongst our members and the greater communities of Seattle.
  %p
    I was recongized in 2014 as
    %b Webmaster of the Year
    by the
    =link_to 'Astronomical League', 'https://www.astroleague.org/al/awards/webmst/webmstr.html'
    for the significant contributions to astronomy and community-building through
    the website.

  =render partial: 'shared/carousel', locals: { carousel: 'SeattleAstro', slides: @carousels['SeattleAstro']}

  :javascript
    $('#portfolioCarouselSeattleAstro').carousel({
        interval: 5000
    })
