%div{ class: "#{company.slug}"}
  %a{name: company.slug}
  %ul.tag
    %li{ role: :presentation} director of engineering
  %h2=raw company.headline
  %p.lead
    =render partial: company.to_lead_path
  %p
    I joined the team as the fifth member (and first engineer) at the end of 2014.
    Since then, I have helped grow the engineering team to over two dozen front-end
    and full-stack engineers.  I wrote the first few services that today help
    serve all the front-end experiences.  I also established the software
    life-cycle processes and tooling to ensure that we
    =link_to 'contintuously deploy and integrate for each and every commit.', 'https://blog.codeship.com/how-sears-home-services-improve-their-workflow-with-codeship/'
  %p
    We have grown rapidly, both in size of team, and scope of responsibility.  As
    a consequence, we are continually adopting our processes and tools to meet
    our needs.  We strive to automate everything we can, and additionally own everything
    we ship including unit-, functional-, integration-, and performance-tests,
    devops and on-call.  We do not throw our problems on to other teams to solve.
    We work side-by-side PMs and Designers to ensure that we collectively deliver
    world-class experiences for our customers.  And even when we make a mistake, we
    help each other get back up and try again.  Ultimately, my responsibility is
    foster a work environment where team members are empowered to do the right thing
    every time.
