#portfolioCarouselAmazonTote, #portfolioCarouselAmazonTote .carousel
  height: 415px !important
  border: 4px solid rgb(228, 121, 17)
  border-radius: 8px

#portfolioCarouselAmazonTote .carousel-inner > .item > img
  height: 400px !important

.carousel-indicators
  top: 90%

.carousel-indicators li
  color: #c3c3c3
  text-indent: 0px
  min-width: 70px
  border: 0px
  height: 20px
  font-size: 0.9em

.carousel-indicators li.active
  color: black
  text-indent: 0px
  border: 0px
  min-width: 100px
  height: 20px
  background: white
  line-height: 22px

.item
  .container
    margin: 0px
    padding: 0px
    width: 100%

=company-color($company, $color)
  img.#{$company}
    background-color: $color
  .carousel-indicators li.#{$company}.active
    color: $color

+company-color('shs',    rgb(0, 57, 128))
+company-color('xbox',   rgb(16, 124, 16))
+company-color('amazon', rgb(228, 121, 17))
+company-color('boeing', rgb(0, 56, 168))
+company-color('seattle_astro', rgb(255, 198, 3))

circle
  border: 2px solid white
  border-radius: 50%
  height: 30px
  width: 30px
  display: inline-block
  font-size: 22px
  text-align: center
  position: relative
  top: -5px
